name: Deploy to VPS

on:
  workflow_dispatch:
    inputs:
      with_maintenance:
        description: "Enable maintenance mode during deployment?"
        required: true
        type: choice
        options:
          - "yes"
          - "no"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Enable maintenance mode (optional)
        if: ${{ github.event.inputs.with_maintenance == 'yes' }}
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            /opt/arsvent-2025/maintenance_on.sh

      - name: Run deploy script
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /opt/arsvent-2025
            BRANCH="${{ github.ref_name }}" ./deploy.sh

      - name: Disable maintenance mode (if enabled)
        if: ${{ github.event.inputs.with_maintenance == 'yes' }}
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            /opt/arsvent-2025/maintenance_off.sh
