name: Deploy to VPS

on:
  workflow_dispatch:
    inputs:
      with_maintenance:
        description: "Enable maintenance mode during deployment?"
        required: true
        type: choice
        options:
          - "yes"
          - "no"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Run deployment on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          envs: WITH_MAINTENANCE,BRANCH
          script: |
            export WITH_MAINTENANCE="${{ github.event.inputs.with_maintenance }}"
            export BRANCH="${{ github.ref_name }}"
            /opt/arsvent-2025/deploy.sh
